[sshd]
enabled  = true
port     = {{ ssh_port }}
filter   = sshd
logpath  = /var/log/auth.log
maxretry = {{ fail2ban.maxretry }}
findtime = {{ fail2ban.findtime }}
bantime  = {{ fail2ban.bantime }}
action   = %(action_mwl)s

[nginx-http-auth]
enabled  = true
filter   = nginx-http-auth
logpath  = /var/log/nginx/error.log
maxretry = 5
