[sshd]
enabled = true
port    = ssh
filter  = sshd
logpath = /var/log/auth.log
maxretry = {{ fail2ban.maxretry }}
findtime = {{ fail2ban.findtime }}
bantime  = {{ fail2ban.bantime }}
action   = %(action_mwl)s
